@import "normalize";
@import "typography";
@import "variables";
@import "mixin";
@import "placeholder";
@import "components/header";
@import "components/main-container";
@import "components/about-me";
@import "components/footer";
@import "components/form";
@import "components/past-events";
@import "components/promo";
@import "components/upcoming-events";
@import "components/video";
@import "components/video-promo";

iframe {
    display: block;
    margin: 0 auto;
   
}
