.form {
    &__container{
        padding: 0px 20px 40px 20px;
    }
    &__wrapper{
        display: block;
        margin: 0 auto;
        max-width: 570px;
    }
    &__title{
        @include title;
        text-align: center;
        margin-top: 85px 
    }
    &__divider{
        @include divider;
        display: block;
        margin: 0 auto;
    }
    &__btn{
        @include btn;
        display: block;
        margin: 0 auto;
        margin-top: 47px;
    }
    &__input-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 3fr;
        grid-row-gap: 16px;
        margin-top: 40px;
    }
    &__field{
        height: 68px;
        padding-left: 30px;
        font-family: "Mukta-Regular";
        font-size: 18px;
        line-height: 26px;
        background-color: #f2f2f2;
    }
    &__textarea{
        height: 202px;
        padding-top: 21px;
        resize: vertical;
    }
    
}
@media screen and (max-width: 499px){
    .form{
        &__title{
            font-size: 40px;
        }
    }
}