@media screen and (min-width: 1024px) {
    .past-events__h2 {
        @include title;
    }
    .past-events {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &__divider{
            @include divider;
        }
    }
    .carousel_slide__1 {
        max-width: 100vh;
    }
}

@media screen and (min-width: 500px) and (max-width: 1023px) {
    .past-events__h2 {
        @include title;
    }
    .past-events {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &__divider{
            @include divider;
        }
    }
    .carousel_slide__1 {
        max-width: 80vw;
    }
}

@media screen and (max-width: 499px) {
    .past-events__h2 {
        @include title;
        font-size: 40px;
    }
    .past-events {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &__divider{
            @include divider;
        }
    }
    .carousel_slide__1 {
        max-width: 80vw;
    }
}