.past-events__h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25vh;
    text-align: center;
    font-weight: bold;
    text-decoration: underline 5px solid #900020;
}

.past-events {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.carousel_slide__1 {
    max-width: 100vh;
}