.promo {
    position: relative;
    min-height: 800px;
    background: url(/assets/img/01_promo/promo.jpg) no-repeat 70% / cover;
    border: 0.1px solid;
}
.promo_h1 {
    margin-top: 33vh;
    margin-left: 7vw;
    margin-bottom: 0;
    font-family: "Mukta-ExtraBold";
    font-size: 4.5em;
    color: white;
}

.promo_txtcolor {
    color: $background-color-burgundy;
}

.promo_h2 {
    padding-bottom: 10vh;
    margin-top: 2vh;
    margin-left: 7vw;
    font-family: "Mukta-Light";
    font-size: 2em;
    color: white;
}

.promo_contactme {
    justify-content: center;
    padding: 0.6em 0.9em;
    margin-left: 7vw;
    background-color: $background-color-burgundy;
}

.promo_contactme_txt {
    text-decoration: none;
    font-family: "Mukta-SemiBold";
    color: white;
}

.promo_contactme:hover {
    text-decoration: underline white;
    opacity: 0.9;
}