@media screen and (min-width: 1024px) {
        .upcoming-events {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-bottom: 125px;
        }
        .upcoming-events__header{
                background-color: $background-color-burgundy;
                height: 150px;
                padding: 40px 0 20px 0;
        }
        .upcoming-events__h2{ 
                @include title;
                color: white;
                text-align: center;
        }
        .upcoming-events__img {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-top: 85px;
        }
}

@media screen and (min-width: 500px) and (max-width: 1023px){
        .upcoming-events {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 80%;
                padding-bottom: 100px;
        }
        .upcoming-events__header{
                background-color: $background-color-burgundy;
                height: 130px;
                padding-top: 25px
        }
        .upcoming-events__h2{ 
                @include title;
                color: white;
                text-align: center;
        }
        .upcoming-events__img {
                display: grid;
                grid-template-columns: repeat(3,1fr);
                grid-column-gap: 10%;
                margin-top: 85px;
        }

        .upcoming-events__img1 {
                max-width: 100%;
                height: 100%;
        }
}

@media screen and (max-width: 499px) {
        .upcoming-events {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 80%;
                padding-bottom: 100px;
        }
        .upcoming-events__header{
                background-color: $background-color-burgundy;
                height: 95px;
                padding-top: 20px
        }
        .upcoming-events__h2{ 
                @include title;
                color: white;
                text-align: center;
                font-size: 35px;
        }
        .upcoming-events__img {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5vw;
                margin-top: 50px;
        }
        .upcoming-events__img1 {
                max-width: 80%;
        }
}

